---
layout: default
title: pages.home.title
---

<section class="diagonal">
  <div class="container">
    <p><img src="{% include relative-src.html src='/images/soupe-ui-components.png' %}" class="screenshot"></p>
    <ul class="image-grid-index">
      <li>
        <a href="https://cheeryworks.org/soupe-ui-components-vuejs">
          <img src="{% include relative-src.html src='/images/vuejs.png' %}" alt="{{ person.name }}">
          <div class="details">
            <div class="name">Soupe UI Components (Vue.js)</div>
          </div>
        </a>
      </li>
      <li>
        <a href="https://cheeryworks.org/soupe-ui-components-react">
          <img src="{% include relative-src.html src='/images/react.svg' %}" alt="{{ person.name }}">
          <div class="details">
            <div class="name">Soupe UI Components (React)</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
